@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" asp-controller="Home" asp-action="Index">
      <img
        src="~/img/logo.jpg"
        alt="Logo"
        class="rounded-circle me-2 avatar"
      />
      <span class="fw-bold fs-4">Shotly</span>
    </a>

    
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto align-items-center">

        <li class="nav-item me-3">
          <a class="nav-link" asp-controller="Home" asp-action="Index" title="Ana Sayfa">
            <i class="bi bi-house-door-fill fs-5"></i>
          </a>
        </li>

        @if (User.Identity!.IsAuthenticated)
        {

          var user = await UserManager.GetUserAsync(User);
      
          <li class="nav-item dropdown me-3">
            <a
              class="nav-link dropdown-toggle d-flex align-items-center"
              href="#"
              id="userDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <img
                src="~/img/@user.ImageFile"
                alt="User"
                class="rounded-circle"
                style="width: 32px; height: 32px;"
              />
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
              <li><a class="dropdown-item" href="#">Profil</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item text-danger" asp-controller="Account" asp-action="Logout">Çıkış Yap</a></li>
            </ul>
          </li>
        }
        else
        {
         
          <li class="nav-item me-3">
            <a class="nav-link d-flex align-items-center" asp-controller="Account" asp-action="Login" title="Giriş Yap">
              <i class="bi bi-person-fill fs-5"></i>
              <span class="ms-1">Giriş Yap</span>
            </a>
          </li>

          
          <li class="nav-item me-3">
            <a class="nav-link d-flex align-items-center" asp-controller="Account" asp-action="Create" title="Üye Ol" style="text-decoration: none;">
              <i class="bi bi-person-fill fs-5"></i>
              <span class="ms-1">Üye Ol</span>
            </a>
          </li>
        }
      </ul>
    </div>
  </div>
</nav>