@model List<Post>
<div class="container mt-4">
    <div class="row">
      <div class="col-lg-8">
      @foreach(var pst in Model)
      {
             <div class="post-card">
              <div class="post-header d-flex align-items-center">
            <img
              src="~/img/@pst.User.ImageFile"
              alt="User"
              class="me-2"
            />
            <div>
            <a class="k_adii" href="/Account/Profile/@pst.User.Id">
              <strong class="k_adi">@@@pst.User.UserName</strong>
            </a>
              <p class="text-muted small mb-0">@pst.PublishedOn</p>
            </div>
          </div>
          <div class="post-image">
          <a href="/home/details/@pst.PostId">
            <img src="~/img/@pst.Image" alt="Post" />
            </a>
          </div>
          <div class="post-footer">
            <div class="d-flex align-items-center mb-2">
              <i class="bi bi-heart me-3 fs-4"></i>
              <i class="bi bi-chat me-3 fs-4"></i>
            </div>
            <p><strong>100 beğenme</strong></p>
            <p><strong>@@@pst.User.UserName</strong> @pst.Description</p>
          </div>
        </div>
      }
      </div>

      <div class="col-lg-4">



    <vc:your-profile/>


      </div> 
      </div>
    </div>
  </div>